.addCart{
    height: 10px;
    margin:5px;
}

.addIcon{
    height:47px;
    width:auto;
}

.btnGet{
    background-color:  #11CA73;
    border-color:transparent;
    color:black;
    transition: 0.3s;
}
.btnGet:hover{
        
        background-color:  #66d5a1;
        color:black;
        border-color:transparent;
        transition: 0.3s;
}

.button{
    border-radius: 8px;
    height:47px;
    font-size:auto;
    width: auto;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.cards{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 10px;
}

.containerAdd{
    align-items: flex-end;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin:10px;
    padding: 15px;
}

.price{
    align-items:center;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
