.bg-blue{
    background-color: #022338;
}

.bits{
    
    text-align: right;
    align-items: right;
    padding-right: 50px;
    background-color: #022338;
}

.containerP{
    
    height: 100%;
    width: 80px;
    
}

.logoP{
    height:80px;
    width:auto;
    padding: 10px;
}