.container-texto{
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}

.main-txt{
    justify-content: center;
    margin-left: 20%;
    margin-top: 5%;
}
img{
    width: 450px;
    height: auto;
}
